<app-moda-exel-al></app-moda-exel-al>

<div> 
  <mat-card>
    <mat-grid-list cols="4" rowHeight="20pxd">
      <mat-grid-tile colspan="4" rowspan='1'>
        <mat-card-title >Gestion de usuarios</mat-card-title>

      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>

<ul class="nav nav-pills">
        <li class="nav-item">
          
        
    </li> 
        
        
      </ul>
      
      <section id="register" class="mb-5 mt-5">
        <div class="container">
          <div class="row">
      
            <div class="col-xs-12 col-sm-12 col-md-12 mx-auto">
              <div class="card_register">
                <div class="card">
                  <div class="card-body text-center">
                    <form #formRegister="ngForm" (ngSubmit)="editarTarea()">
                      <h1 class="h3 mb-3 font-weight-normal">Editar Tarea</h1>
                      
                      <div class="form-group">
                        <input type="text" #name="ngModel" name="cedula" class="form-control" placeholder="Titulo de Tarea" [(ngModel)]="tarea.nombre" required 
                          >
                      </div> 

                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="exampleFormControlSelect1">Fecha</label>
                          <input type="date" id="date" name="date" [(ngModel)]="tarea.fechaEntrega" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="exampleFormControlSelect1">Hora</label>
                          <input type="time" id="hora" name="hora" [(ngModel)]="tarea.horaEntrega" class="form-control">
                        </div> 
                        <div class="form-group col-md-4">
                          <label for="exampleFormControlSelect1">Selecione una Opcion</label>
                            <select name ="tipo"  id="exampleFormControlSelect1" placeholder="TIPO" class="form-control" [(ngModel)]="tarea.tipoEntrega">
                              <option value="Fisico">Fisico</option>
                              <option value="Email">Email</option>
                              <option value="Aula Virtual">Aula Virtual</option>
                             </select>
                        </div> 
        
    
                      </div>

                      
                      <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <textarea name="descripcion" id="descripcion" class="form-control" cols="50" rows="4" [(ngModel)]="tarea.descripcion"></textarea>
                      </div>

                     
                      
                     
                      
                      <button type="submit" class="btn btn-lg btn-primary float-right">Guardar</button>
                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
