<app-nav-profesor></app-nav-profesor>


<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/profesor/curso/menu">Lista Alumnos</a>
    
    <li class="nav-item">
      <a class="nav-link" routerLink="/profesor/tareas">Tarea</a>
    </li>

    <li class="nav-item">
            <a class="nav-link" routerLink="/profesor/evaluaciones">Evaluacion</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" routerLink="/profesor/foro">Foro</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" routerLink="/profesor/talleres">Taller</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/profesor/repositorio">Repositorio</a>
</li>
</ul>

<div class="mainContainer">  
        <div class="content">
            <div class="header">
                <h1>Repositorio</h1>
            </div>
            <div class="row margin25">
      
                <div class="col-md-4">
      
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span  class="input-group-text upload"  (click)="upload()"  id="btnUpload">Subir</span>
                        </div>
                        <div class="custom-file">
                            <form action="/api/upload" method="post" enctype="multipart/form-data">
                                <input (change)="fileChange($event)"  type="file"  class="custom-file-input"  id="inputGroupFile01"  aria-describedby="inputGroupFileAddon01"> 
                            </form>
                            <label class="custom-file-label" for="inputGroupFile01">SEleccione un Archivo</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
      
                </div>
            </div>
        </div>
      </div> 
      
      
      <ul class="list-group list-group-flush" >
            <div class="form-row">
                    <div class="form-group col-md-6">
                        
        <li class="list-group-item ml-auto" *ngFor="let descarga of descargas">
               
                {{descarga.nombre}} 
                   
    
            </li>
              
                    </div>
                    <div class="form-group col-md-6">
                            <li class="list-group-item ml-auto" *ngFor="let descarga of descargas">
                                    <a  href="http://192.168.0.4:3000/down/descarga/{{descarga.idRecurso}}" download> Descargar </a>   
                    
                            </li>
                     </div>
              
                  </div>


        
 
        
       
      </ul>

      