
<script lang="javascript" src="dist/xlsx.full.min.js"></script>
<script src="xlsx.full.min.js"></script>
<app-naveg>

  </app-naveg>
<div> 
    <mat-card>
      <mat-grid-list cols="6" rowHeight="20pxd">
        <mat-grid-tile colspan="4" rowspan='1'>
          <mat-card-title >Gestion de usuarios</mat-card-title>
  
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </div>
<ul class="nav nav-pills">
    
   
    <button class="btn btn-link float-right" (click)="open(content)">Ingresar  Lista de Alumnos</button>

<hr>
</ul>
    
  
  
  <section id="register" class="mb-5 mt-5" style="border-color: #ffffff!important;">
    <div class="container">
      <div class="row">
  
        <div class="col-xs-12 col-sm-12 col-md-12 mx-auto">
          <div class="card_register">
            <div class="card">
              <div class="card-body text-center" style="background-color: #ffffff!important;">
                <form [formGroup]="ngForm" (ngSubmit)="nuevoAlumno()">
                  <h1 class="h3 mb-3 font-weight-normal" style="color: #000000!important;" >Ingresar Alumno</h1>
                  
                  <div class="form-group">
                    
                    <input type="text"  formControlName="cedula" class="form-control" placeholder="Cédula" [(ngModel)]="user.cedula" required 
                      maxlength="10">
                      <div class="alert alert-danger" role="alert"  *ngIf="cedula.invalid  && (cedula.dirty || cedula.touched)">
                        Cédula Inválida
                      </div>
                  </div>
                   
                  <div class="form-group">
                    <input type="text"  formControlName="numUnico" class="form-control" placeholder="Número Único" [(ngModel)]="user.numUnico" required  >
                    <div class="alert alert-danger" role="alert"  *ngIf="numUnico.invalid  && (numUnico.dirty || numUnico.touched)">
                      Número Inválido
                    </div>
                  </div>  

                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <input type="text"  formControlName="name1" class="form-control" placeholder="Primer Nombre" [(ngModel)]="user.nombre1" required >
                          <div class="alert alert-danger" role="alert"  *ngIf="name1.invalid  && (name1.dirty || name1.touched)">
                            Nombre Inválido
                          </div>
                      </div>
                      <div class="form-group col-md-6">
                          <input type="text"  formControlName="name2" class="form-control" placeholder=" Segundo Nombre" [(ngModel)]="user.nombre2" required 
                          >
                          <div class="alert alert-danger" role="alert"  *ngIf="name2.invalid  && (name2.dirty || name2.touched)">
                            Nombre Inválido
                          </div>
                       </div>
                
                    </div>
                           
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text"  formControlName="apellido1" class="form-control" placeholder="Primer Apellido" [(ngModel)]="user.apellido1" required 
                            >
                            <div class="alert alert-danger" role="alert"  *ngIf="apellido1.invalid  && (apellido1.dirty || apellido1.touched)">
                              Apellido Inválido
                            </div>
                  
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text"  formControlName="apellido2" class="form-control" placeholder="Segundo Apellido" [(ngModel)]="user.apellido2" required 
                            >
                            <div class="alert alert-danger" role="alert"  *ngIf="apellido2.invalid  && (apellido2.dirty || apellido2.touched)">
                              Apellido Inválido
                            </div>
                  
                           </div>
                  
                    </div>

                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <input type="email"  formControlName="email" class="form-control" placeholder="Correo Electónico" [(ngModel)]="user.correo" required
                          >
                          <div class="alert alert-danger" role="alert" *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
                            Dirección de correo Invalida
                          </div>
                  
                        </div>
                        <div class="form-group col-md-6">
                          <input type="text"  formControlName="telefono" class="form-control" placeholder="Teléfono" [(ngModel)]="user.telefono" required 
                          maxlength="10">
                          <div class="alert alert-danger" role="alert"  *ngIf="telefono.invalid  && (telefono.dirty || telefono.touched)">
                            Teléfono Inválido
                          </div>
                  
                        </div>
                  
                      </div>                                        
                  <button type="submit" class="btn btn-lg btn-primary float-right" >Ingresar</button>
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ingresar Alumnos</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth"></label>
          <div class="input-group">
            <input type="file" class="custom-file" id="custom-file" (change)="incomingfile($event)" language="es" placeholder=" Seleccione carpeta" accept=".xlsx">
            <div class="input-group-append">
              <button type="button" class="btn btn-primary float-right" (click)="Upload()" (click)="modal.dismiss('Cross click')" >Cargar Archivo</button>
              <pre>{{closeResult}}</pre> 
            </div>
          </div>
        </div>
      </form>
    </div>
    </ng-template> 
  
  <hr>
  
  <pre>{{closeResult}}</pre>
  
 