<app-naveg>

    </app-naveg>
  <div> 
      <mat-card>
        <mat-grid-list cols="4" rowHeight="20pxd">
          <mat-grid-tile colspan="4" rowspan='1'>
            <mat-card-title >Gestion de usuarios</mat-card-title>
    
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </div>
  <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/curso">Lista Cursos</a>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/curso/ingresar">Ingresar Curso</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/admin/curso/agregaca">Asignar Alumnos</a>
        </li>     
    </ul>
    
    <section id="register" class="mb-5 mt-5">
        <div class="container">
          <div class="row">
      
            <div class="col-xs-12 col-sm-12 col-md-12 mx-auto">
              <div class="card_register">
                <div class="card">
                  <div class="card-body text-center">
                    <form #formRegister="ngForm" (ngSubmit)="buscarp(formRegister)">
                      <h1 class="h3 mb-3 font-weight-normal">Ingresar Curso</h1>
                      
                                            
                      
                      <div class="form-group">
                        <input type="text" #name="ngModel" name="cedula" class="form-control" placeholder=" Cedula Profesor" [(ngModel)]="profe.cedula" (click)="open(content)" required >
                        
                      </div> 
                                            

                      <div class="form-group">
                        <input type="text" #name="ngModel" name="numUnico" class="form-control" placeholder="Codigo Materia" [(ngModel)]="materi.codMateria" (click)="openM(contM)" required         >
                      </div>                        
                          
                      
                                            
                    </form>

                    <form #formRegister="ngForm" (ngSubmit)="ingresarCurso(formRegister)">                                              
                        
                        
                        <div class="form-group">
                          <input type="text" #name="ngModel" name="name1" class="form-control" placeholder="Paralelo" [(ngModel)]="this.curso.paralelo" required 
                            >
                        </div>
                        <div class="form-group">
                            <input type="text" #name="ngModel" name="name2" class="form-control" placeholder="Aula" [(ngModel)]="this.curso.aula" required 
                              >
                          </div>
                          <div class="form-group">
                              <input type="text" #name="ngModel" name="name3" class="form-control" placeholder="Perdiodo lectivo" [(ngModel)]="this.curso.periodoLectivo" required 
                                >
                            </div>
                            
  
                            
                        
                        <button type="submit" class="btn btn-lg btn-primary float-right">Ingresar</button>
                        
                      </form>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>



      <ng-template #content let-modal>
        <div class="modal-header">
          <input type="text" class="form-contro" name="filtro" placeholder="Buscar..." [(ngModel)]="filtro">
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="dateOfBirth"></label>
              <table class="table table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">N.Único</th>
                    <th scope="col">Cédula</th>        
                    <th scope="col">Nombre</th>
                    <th scope="col">Oficina</th>
                    
                    </tr>
                </thead>
               
                <tbody>
                <tr *ngFor="let profesor of profesores | filtrop:filtro | paginate: { itemsPerPage: 6, currentPage: pageActual }" (click)="buscarp(profesor.cedula)">
                  
                    <th scope="row">{{profesor.numUnico}}</th>
                    <td>{{profesor.cedula}}</td>
                    <td>{{profesor.nombre1}} {{profesor.nombre2}} {{profesor.apellido1}} {{profesor.apellido2}}</td>
                    <td>{{profesor.oficina}}</td>
                                              
                </tr>
                
                </tbody>
                
              </table>
              <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
              <div class="input-group">
                
               
           
                <div class="input-group-append">
                 
                  
                </div>
              </div>
            </div>
          </form>
        </div>
        </ng-template> 
      
      <hr>
      
      <pre>{{closeResult}}</pre>




      <ng-template #contM let-modal>
        <div class="modal-header">
          <input type="text" class="form-contro" name="filtro" placeholder="Buscar..." [(ngModel)]="filtro">
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="dateOfBirth"></label>
              <table class="table table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>        
                    <th scope="col">Numero horas</th>
                    
                    
                  </tr>
                </thead>
               
                <tbody>
                <tr *ngFor="let materia of materias | filtrom:filtro  | paginate: { itemsPerPage: 6, currentPage: pageActual }" (click)="buscarM(materia.codMateria)" >
                    <th scope="row">{{materia.codMateria}}</th>
                    <td>{{materia.nombre}}</td>
                    <td>{{materia.numHoras}}</td>
                   
                </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
              <div class="input-group">
                
               
           
                <div class="input-group-append">
                 
                  
                </div>
              </div>
            </div>
          </form>
        </div>
        </ng-template> 
      
      <hr>
      
      <pre>{{closeResult}}</pre>
    
