<app-nav-profesor></app-nav-profesor>
<div> 
  <mat-card>
    <mat-grid-list cols="4" rowHeight="20pxd" class="hidden">
      <mat-grid-tile colspan="4" rowspan='1'>
        <mat-card-title >Gestion de usuarios</mat-card-title>

      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>

<table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Codigo Curso</th>
                    
            <th scope="col">Materia</th>
            <th scope="col">Paralelo</th>
            <th scope="col">Aula</th>
            <th scope="col">Periodo</th>
            <th scope="col"></th>
            
            
          </tr>
        </thead>
       
        <tbody>
        <tr *ngFor="let curso of cursos" (click)="abrirCurso(curso)" >
            <th scope="row">{{curso.codigoCurso}}</th>
            
            <td>{{curso.nombreMateria}}</td>
            <td>{{curso.Paralelo}}</td> 
            <td>{{curso.aula}}</td>
            <td>{{curso.periodoLectivo}}</td>   
            <td> <button type="button" class="btn btn-outline-success">Ver</button>  </td> 
              
            
            
                  
        </tr>
        </tbody>
      </table>
