<app-nav-profesor></app-nav-profesor>

<ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" routerLink="/profesor/curso/menu">Lista Alumnos</a>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/profesor/tareas">Tarea</a>
        </li>

        <li class="nav-item">
                <a class="nav-link" routerLink="/profesor/evaluaciones">Evaluacion</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" routerLink="/profesor/foro">Foro</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" routerLink="/profesor/talleres">Taller</a>
        </li>
        
        
      </ul>
<p>foro works!</p>
