<app-moda-exel-al></app-moda-exel-al>
<div>
<mat-card>
    <mat-grid-list cols="4" rowHeight="20pxd">
      <mat-grid-tile colspan="4" rowspan='1'>
        <mat-card-title >Gestion de usuarios</mat-card-title>

      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>

<ul class="nav nav-pills">
        <li class="nav-item">
          <H1>FOROS DE DISCUSIÓN</H1>
      </li> 
        
        
      </ul>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let foro of foros" (click)="abrirforo(foro)">
          {{foro.tema}}
          <span class="badge badge-primary badge-pill">{{foro.numComentarios}}</span>
        </li>
        
      </ul>
