<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<section id="login" class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_login">
          <div class="card">
            <div class="card-body text-center">
              <form #formLogin="ngForm" (ngSubmit)="nuevaSession(formLogin)">
                <h1 class="h3 mb-3 font-weight-normal" *ngIf="!isError">Login</h1>
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                  Something is wrong!
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Selecione una Opcion</label>
                    <select name ="tipo"  id="exampleFormControlSelect1" placeholder="TIPO" class="form-control" [(ngModel)]="this.authService.jwrespose.tipo">
                      <option value="Administrador">Administrador</option>
                      <option value="Profesor">Profesor</option>
                     </select>
                  </div>
                  <div class="input-group flex-nowrap">
                      <div class="input-group-prepend bg-primary text-white">
                        <span class="input-group-text bg-primary text-white" id="addon-wrapping"><fa-icon [icon]="faCoffee"></fa-icon></span>
                      </div>
                      <input type="number" id="email" name="email" class="form-control" placeholder="Nombre Usuario" [(ngModel)]="this.authService.jwrespose.userName" required>
                  
                    </div>
                    <div class="input-group flex-nowrap ">
                        <div class="input-group-prepend bg-primary text-white ">
                          <span class="input-group-text bg-primary text-white" id="addon-wrapping"><fa-icon [icon]="faKey"></fa-icon></span>
                        </div>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="this.authService.jwrespose.passwd" required>
                        
                      </div>                         

                <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
              
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



