<nav class="navbar navbar-expand-sm navbar-dark " style="background-color: #1a355b!important;">

    <a class="navbar-brand" href="/profesor/inicio">
      <img class="card-img-top" src="https://www.utpl.edu.ec/proyectomiddleware/sites/default/files/images/logo-politecnica.png" style="max-width: 100px; max-height: 100px"  alt="">
    </a>

        <a class="navbar-brand" routerLink="/profesor/inicio">DETRI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" routerLink="/profesor/curso">Cursos</a>
              </li>              
             
            </ul>
          </div>
      
        <div class="ml-auto" id="navbarNav">
            
            <ul class="navbar-nav">
              <li class="nav-item">
                <div class="d-inline-block" ngbDropdown #myDrop3="ngbDropdown" style="background-color: #1a355b!important;">
                  <button class="btn btn-link mr-2" id="dropdownManual" style="color: #d8dadb!important;" ngbDropdownAnchor (focus)="myDrop3.open()">Opciones</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    <button ngbDropdownItem routerLink="/passwd">Cambiar Contraseña</button>
                    <button ngbDropdownItem routerLink="/" (click)="logoutP()">Cerrar Sesión</button>
                </div>
                </div>
              </li>
            
            </ul>
          </div>
      </nav>
