<app-naveg>

</app-naveg>
<div> 
    <mat-card>
      <mat-grid-list cols="4" rowHeight="20pxd">
        <mat-grid-tile colspan="4" rowspan='1'>
          <mat-card-title >Gestion de usuarios</mat-card-title>
  
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </div>
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/materia">Lista Materias</a>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/materia/ingresar">Ingresar Materias</a>
      </li>
      <button class="btn btn-link float-right" (click)="open(content)">Cargar Archivo</button>
    
  </ul>
 
  
  <section id="register" class="mb-5 mt-5">
    <div class="container">
      <div class="row">
  
        <div class="col-xs-12 col-sm-12 col-md-12 mx-auto">
          <div class="card_register">
            <div class="card">
              <div class="card-body text-center">
                <form #formRegister="ngForm" (ngSubmit)="nuevaMateria()">
                  <h1 class="h3 mb-3 font-weight-normal">Ingresar Materia</h1>
                  
                  <div class="form-group">
                    <input type="text" #name="ngModel" name="cedula" class="form-control" placeholder="Codigo Materia" [(ngModel)]="materia.codMateria" required 
                      maxlength="15">
                  </div> 
                  <div class="form-group">
                    <input type="text" #name="ngModel" name="numUnico" class="form-control" placeholder="Nombre Materia" [(ngModel)]="materia.nombre" required         >
                  </div>  
                  
                  <div class="form-group">
                    <input type="text" #name="ngModel" name="name1" class="form-control" placeholder="Numero de Horas" [(ngModel)]="materia.numHoras" required 
                      >
                  </div>
                  
                 
                  
                  <button type="submit" class="btn btn-lg btn-primary float-right">Ingresar</button>
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ingresar Materias</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth"></label>
          <div class="input-group">
            
        <input type="file" class="custom-file" id="custom-file" (change)="incomingfile($event)" language="es" placeholder=" Seleccione carpeta" accept=".xlsx">

       
            <div class="input-group-append">
              <button type="button" class="btn btn-xs btn-primary float-right" (click)="Upload()" (click)="modal.dismiss('Cross click')" >Cargar Archivo</button>
              <pre>{{closeResult}}</pre>
              
            </div>
          </div>
        </div>
      </form>
    </div>
    </ng-template> 
  
  <hr>
  
  <pre>{{closeResult}}</pre>