<app-moda-exel-al></app-moda-exel-al>
<div> 
        <mat-card>
          <mat-grid-list cols="4" rowHeight="20pxd">
            <mat-grid-tile colspan="4" rowspan='1'>
              <mat-card-title >Gestion de usuarios</mat-card-title>
      
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card>
      </div>

<ul class="nav nav-pills">
        <li class="nav-item">
          <H1>TAREAS</H1>
          </li> 

      </ul>
      
      <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nombre</th>        
              <th scope="col">Descripcion</th>
              <th scope="col">Fecha Creacion</th>
              <th scope="col">Fecha Entrega</th>
              <th scope="col">Hora Entrega</th>
              <th scope="col">Tipo</th>
              <th scope="col"></th>
              <th scope="col"></th>
              
              
            </tr>
          </thead>
         
          <tbody>
          <tr *ngFor="let tarea of tareas">
              <th scope="row">{{tarea.nombre}}</th>
              <td>{{tarea.descripcion}}</td>
              <td>{{tarea.fechaCreacion | date}}</td>
              <td>{{tarea.fechaEntrega | date}}</td>
              <td>{{tarea.horaEntrega}}</td>
              <td>{{tarea.tipoEntrega}}</td>
              <td><button type="button" class="btn btn-info" (click)="editar(tarea)" >Editar</button></td>
              <td><button type="button" class="btn btn-danger" (click)="eliminar(tarea.idTarea, tarea.idCurso)" >Eliminar</button></td>
              
          </tr>
          </tbody>
        </table>
